# <center> *SQL Queries - Covid 19* <center/>

In [1]:
from database.db_config import current_db as db

In [2]:
#  Alter the headers types, before querying.
db.execute_ddl('ALTER TABLE "All continents updated" ALTER COLUMN "TotalCases" TYPE INT USING "TotalCases"::integer,ALTER COLUMN "NewCases" TYPE INT, ALTER COLUMN "TotalDeaths" TYPE INT USING "TotalDeaths"::integer,ALTER COLUMN "NewDeaths" TYPE INT, ALTER COLUMN "TotalRecovered" TYPE INT USING "TotalRecovered"::integer,ALTER COLUMN "NewRecovered" TYPE INT, ALTER COLUMN "ActiveCases" TYPE INT USING "ActiveCases"::integer,ALTER COLUMN "SeriousCritical" TYPE INT USING "SeriousCritical"::integer, ALTER COLUMN "Date" SET DATA TYPE date USING to_date(cast("Date" as TEXT), \'yyyy-mm-dd\')')
db.execute_ddl('ALTER TABLE "All countries updated" ALTER COLUMN "TotalCases" TYPE INT USING "TotalCases"::integer,ALTER COLUMN "NewCases" TYPE INT, ALTER COLUMN "TotalDeaths" TYPE INT USING "TotalDeaths"::integer,ALTER COLUMN "NewDeaths" TYPE INT, ALTER COLUMN "TotalRecovered" TYPE INT USING "TotalRecovered"::integer,ALTER COLUMN "NewRecovered" TYPE INT, ALTER COLUMN "ActiveCases" TYPE INT USING "ActiveCases"::integer,ALTER COLUMN "SeriousCritical" TYPE INT USING "SeriousCritical"::integer,ALTER COLUMN "Date" SET DATA TYPE date USING to_date(cast("Date" as TEXT), \'yyyy-mm-dd\')')

DDL executed successfully.
DDL executed successfully.

In [3]:
countries_minMax = db.sql_query('SELECT "Country", "TotalCases" FROM "All countries updated"'
                        'WHERE "TotalCases" IN  ((SELECT MIN("TotalCases")FROM "All countries updated" LIMIT 1),'
						                       '((SELECT MAX("TotalCases") FROM "All countries updated"LIMIT 1)))')
print(countries_minMax)

+------------+------------+
|  Country   | TotalCases |
+------------+------------+
|    USA     |  27611403  |
|  Vanuatu   |     1      |
| Micronesia |     1      |
+------------+------------+

In [4]:
# TotalCases Min and Max by a continent.
continents_minMax = db.sql_query('SELECT "Continent", "TotalCases" FROM "All continents updated"'
                        'WHERE "TotalCases" IN  ((SELECT MIN("TotalCases")FROM "All continents updated" WHERE "Continent" <>  \'World\' LIMIT 1),'
						                       '((SELECT MAX("TotalCases") FROM "All continents updated" WHERE "Continent" <>  \'World\'LIMIT 1)))')
print(continents_minMax)

+---------------+------------+
|   Continent   | TotalCases |
+---------------+------------+
| North America |  31597905  |
|    Oceania    |   50385    |
+---------------+------------+

In [5]:
# Top 3 countries with the highest number of cases by Continents.
top3_totalCases = db.sql_query('SELECT * '
                                'FROM (SELECT "Country","Continent","TotalCases",RANK() OVER(PARTITION BY "Continent" ORDER BY "TotalCases" DESC) AS "TotalCases_Rank","ActiveCases","SeriousCritical"'
                                'FROM (SELECT "Country_id","Continent_id"'
                                        'FROM "All Countries") AS t1 JOIN  (SELECT * '
                                                                            'FROM "All Continents") AS t2 USING("Continent_id")'
                                        'JOIN  (SELECT "Country","Country_id","TotalCases","ActiveCases","SeriousCritical"'
                                                'FROM "All countries updated" ) AS t3 USING("Country_id")) AS "t1"'
                                'WHERE "TotalCases_Rank" <=3 ')

print(top3_totalCases)

+------------------+---------------+------------+-----------------+-------------+-----------------+
|     Country      |   Continent   | TotalCases | TotalCases_Rank | ActiveCases | SeriousCritical |
+------------------+---------------+------------+-----------------+-------------+-----------------+
|   South Africa   |     Africa    |  1476135   |        1        |    69641    |       546       |
|     Morocco      |     Africa    |   475355   |        2        |    12457    |       345       |
|     Tunisia      |     Africa    |   217086   |        3        |    36010    |       401       |
|      India       |      Asia     |  10838843  |        1        |    150653   |       8944      |
|      Turkey      |      Asia     |  2531456   |        2        |    83953    |       1317      |
|       Iran       |      Asia     |  1466435   |        3        |    154412   |       3789      |
|      Russia      |     Europe    |  3967281   |        1        |    434410   |       2300      |
|        UK        |     Europe    |  3945680   |        2        |   1917586   |       3505      |
|      France      |     Europe    |  3337048   |        3        |   3025106   |       3272      |
|       USA        | North America |  27611403  |        1        |   9782082   |      21907      |
|      Mexico      | North America |  1926080   |        2        |    278156   |       5692      |
|      Canada      | North America |   804260   |        3        |    44727    |       736       |
|    Australia     |    Oceania    |   28850    |        1        |     1855    |       None      |
| French Polynesia |    Oceania    |   18185    |        2        |    13210    |        8        |
|   New Zealand    |    Oceania    |    2320    |        3        |      66     |       None      |
|      Brazil      | South America |  9524640   |        1        |    895892   |       8318      |
|     Colombia     | South America |  2157216   |        2        |    73890    |       3482      |
|    Argentina     | South America |  1980347   |        3        |    152211   |       3550      |
+------------------+---------------+------------+-----------------+-------------+-----------------+

In [6]:
# Countries that are located in Oceania continent.
oceania_countries = db.sql_query('SELECT "Country" '
                                 'FROM "All Countries" '
                                 'WHERE "Continent_id" IN (SELECT "Continent_id" '
                                                            'FROM "All Continents" '
                                 '                           WHERE "Continent" = \'Oceania\')')
print(oceania_countries)

+------------------+
|     Country      |
+------------------+
|    Australia     |
|   New Zealand    |
| French Polynesia |
| Papua New Guinea |
|       Fiji       |
|  New Caledonia   |
+------------------+

In [7]:
# The count of countries in each continent.
countries_perContinent = db.sql_query('SELECT "Continent","Countires_count" FROM (SELECT * FROM "All Continents") AS t1 '
                                      'JOIN (SELECT "Continent_id", COUNT("Country") AS "Countires_count" '
                                      'FROM "All Countries" G'
                                      'ROUP BY "Continent_id") AS t2 '
                                      'USING("Continent_id") '
                                      'ORDER BY "Countires_count" DESC')
print(countries_perContinent)

+---------------+-----------------+
|   Continent   | Countires_count |
+---------------+-----------------+
|     Africa    |        57       |
|      Asia     |        49       |
|     Europe    |        48       |
| North America |        39       |
| South America |        14       |
|    Oceania    |        6        |
+---------------+-----------------+

In [8]:
# The country with the highest "TotalCases" in each continent.
country_high_perContinent = db.sql_query('SELECT "Country","Continent","TotalCases" '
                                         'FROM (SELECT "Country","Continent","TotalCases" ,RANK() OVER(PARTITION BY "Continent" ORDER BY "TotalCases" DESC) AS "rank" '
                                                'FROM (SELECT "Country","Country_id","TotalCases" '
                                                       'FROM "All countries updated" ) AS t1  '
                                                       'JOIN (SELECT "Country_id", "Continent_id" FROM "All Countries") AS t2 '
                                                        'USING("Country_id") '
                                                        'JOIN (SELECT "Continent_id","Continent" FROM "All Continents") AS t3 '
                                                        'USING("Continent_id")) AS t4 '
                                         'WHERE "rank" =1;')
print(country_high_perContinent)

+--------------+---------------+------------+
|   Country    |   Continent   | TotalCases |
+--------------+---------------+------------+
| South Africa |     Africa    |  1476135   |
|    India     |      Asia     |  10838843  |
|    Russia    |     Europe    |  3967281   |
|     USA      | North America |  27611403  |
|  Australia   |    Oceania    |   28850    |
|    Brazil    | South America |  9524640   |
+--------------+---------------+------------+

In [9]:
# Top 5 countries with active cases.
top5_countries_active = db.sql_query('SELECT "Country","ActiveCases" '
                                     'FROM "All countries updated" '
                                     'WHERE "ActiveCases" IS NOT NULL '
                                     'ORDER BY "ActiveCases" DESC LIMIT 5;')
print(top5_countries_active)

+---------+-------------+
| Country | ActiveCases |
+---------+-------------+
|   USA   |   9782082   |
|  France |   3025106   |
|    UK   |   1917586   |
|  Brazil |    895892   |
| Belgium |    652781   |
+---------+-------------+

In [10]:
# The date that israel had the highest value of new cases.
israel_newCases_date = db.sql_query('SELECT "Date" AS "max_NewCases_date" '
                                    'FROM "Israel" '
                                    'WHERE "NewCases" = (Select MAX("NewCases") '
                                    '                    FROM "Israel")')
print(israel_newCases_date)

+-------------------+
| max_NewCases_date |
+-------------------+
|     2021-01-28    |
+-------------------+

In [11]:
# Ranking each continent by its active cases.
continent_active_rank = db.sql_query('SELECT "Continent","ActiveCases", RANK() OVER(ORDER BY "ActiveCases" DESC) '
                                     'FROM "All continents updated" '
                                     'WHERE "Continent" <> \'World\'')
print(continent_active_rank)

+---------------+-------------+------+
|   Continent   | ActiveCases | rank |
+---------------+-------------+------+
|     Europe    |   12650138  |  1   |
| North America |   10358680  |  2   |
| South America |   1307824   |  3   |
|      Asia     |   1127020   |  4   |
|     Africa    |    387701   |  5   |
|    Oceania    |    15182    |  6   |
+---------------+-------------+------+

In [12]:
israel_minMax_dates = db.sql_query('SELECT MIN("Date") as "Earliest Date",MAX("Date") as "Latest Date" '
                                   'FROM "Israel"')
print(israel_minMax_dates)

+---------------+-------------+
| Earliest Date | Latest Date |
+---------------+-------------+
|   2020-08-02  |  2021-02-07 |
+---------------+-------------+