In [35]:
from database.db_config import current_db as db

In [36]:
#  Alter the headers types, before querying.
db.execute_ddl('ALTER TABLE "All continents updated" ALTER COLUMN "TotalCases" TYPE INT USING "TotalCases"::integer,ALTER COLUMN "NewCases" TYPE INT, ALTER COLUMN "TotalDeaths" TYPE INT USING "TotalDeaths"::integer,ALTER COLUMN "NewDeaths" TYPE INT, ALTER COLUMN "TotalRecovered" TYPE INT USING "TotalRecovered"::integer,ALTER COLUMN "NewRecovered" TYPE INT, ALTER COLUMN "ActiveCases" TYPE INT USING "ActiveCases"::integer,ALTER COLUMN "SeriousCritical" TYPE INT USING "SeriousCritical"::integer, ALTER COLUMN "scrap_date" SET DATA TYPE date USING to_date(cast("scrap_date" as TEXT), \'yyyy-mm-dd\')')
db.execute_ddl('ALTER TABLE "All countries updated" ALTER COLUMN "TotalCases" TYPE INT USING "TotalCases"::integer,ALTER COLUMN "NewCases" TYPE INT, ALTER COLUMN "TotalDeaths" TYPE INT USING "TotalDeaths"::integer,ALTER COLUMN "NewDeaths" TYPE INT, ALTER COLUMN "TotalRecovered" TYPE INT USING "TotalRecovered"::integer,ALTER COLUMN "NewRecovered" TYPE INT, ALTER COLUMN "ActiveCases" TYPE INT USING "ActiveCases"::integer,ALTER COLUMN "SeriousCritical" TYPE INT USING "SeriousCritical"::integer,ALTER COLUMN "scrap_date" SET DATA TYPE date USING to_date(cast("scrap_date" as TEXT), \'yyyy-mm-dd\')')

DDL executed successfully.
DDL executed successfully.

In [37]:
countries_minMax = db.sql_query('SELECT "Country", "TotalCases" FROM "All countries updated"'
                        'WHERE "TotalCases" IN  ((SELECT MIN("TotalCases")FROM "All countries updated" LIMIT 1),'
						                       '((SELECT MAX("TotalCases") FROM "All countries updated"LIMIT 1)))')
print(countries_minMax)

+---------+------------+
| Country | TotalCases |
+---------+------------+
|   USA   |  17074294  |
| Vanuatu |     1      |
+---------+------------+

In [38]:
# TotalCases Min and Max by a continent.
continents_minMax = db.sql_query('SELECT "Continent", "TotalCases" FROM "All continents updated"'
                        'WHERE "TotalCases" IN  ((SELECT MIN("TotalCases")FROM "All continents updated" WHERE "Continent" <>  \'World\' LIMIT 1),'
						                       '((SELECT MAX("TotalCases") FROM "All continents updated" WHERE "Continent" <>  \'World\'LIMIT 1)))')
print(continents_minMax)

+-----------+------------+
| Continent | TotalCases |
+-----------+------------+
|   Europe  |  20194352  |
|  Oceania  |   46722    |
+-----------+------------+

In [39]:
# Top 3 countries with the highest number of cases by Continents.
top3_totalCases = db.sql_query('SELECT * '
                                'FROM (SELECT "Country","Continent","TotalCases",RANK() OVER(PARTITION BY "Continent" ORDER BY "TotalCases" DESC) AS "TotalCases_Rank","ActiveCases","SeriousCritical"'
                                'FROM (SELECT "Country_id","Continent_id"'
                                        'FROM "All Countries") AS t1 JOIN  (SELECT * '
                                                                            'FROM "All Continents") AS t2 USING("Continent_id")'
                                        'JOIN  (SELECT "Country","Country_id","TotalCases","ActiveCases","SeriousCritical"'
                                                'FROM "All countries updated" ) AS t3 USING("Country_id")) AS "t1"'
                                'WHERE "TotalCases_Rank" <=3 ')

print(top3_totalCases)

+------------------+---------------+------------+-----------------+-------------+-----------------+
|     Country      |   Continent   | TotalCases | TotalCases_Rank | ActiveCases | SeriousCritical |
+------------------+---------------+------------+-----------------+-------------+-----------------+
|   South Africa   |     Africa    |   866127   |        1        |    79930    |       546       |
|     Morocco      |     Africa    |   403619   |        2        |    33997    |       1078      |
|      Egypt       |     Africa    |   122086   |        3        |    10011    |        90       |
|      India       |      Asia     |  9932842   |        1        |    333048   |       8944      |
|      Turkey      |      Asia     |  1898447   |        2        |    220375   |       5988      |
|       Iran       |      Asia     |  1123474   |        3        |    237528   |       5704      |
|      Russia      |     Europe    |  2707945   |        1        |    510367   |       2300      |
|      France      |     Europe    |  2391447   |        2        |   2153288   |       2881      |
|        UK        |     Europe    |  1888116   |        3        |     None    |       1288      |
|       USA        | North America |  17074294  |        1        |   6807127   |      27874      |
|      Mexico      | North America |  1255974   |        2        |    213922   |       3550      |
|      Canada      | North America |   473353   |        3        |    76217    |       596       |
|    Australia     |    Oceania    |   28045    |        1        |     1451    |        1        |
| French Polynesia |    Oceania    |   15747    |        2        |    10809    |        25       |
|   New Zealand    |    Oceania    |    2096    |        3        |      56     |       None      |
|      Brazil      | South America |  6970034   |        1        |    771150   |       8318      |
|    Argentina     | South America |  1503222   |        2        |    122061   |       3478      |
|     Colombia     | South America |  1434516   |        3        |    73852    |       2376      |
+------------------+---------------+------------+-----------------+-------------+-----------------+

In [40]:
# Countries that are located in Oceania continent.
oceania_countries = db.sql_query('SELECT "Country" '
                                 'FROM "All Countries" '
                                 'WHERE "Continent_id" IN (SELECT "Continent_id" '
                                                            'FROM "All Continents" '
                                 '                           WHERE "Continent" = \'Oceania\')')
print(oceania_countries)

+------------------+
|     Country      |
+------------------+
|    Australia     |
|   New Zealand    |
| French Polynesia |
| Papua New Guinea |
|       Fiji       |
|  New Caledonia   |
+------------------+

In [41]:
# The count of countries in each continent.
countries_perContinent = db.sql_query('SELECT "Continent","Countires_count" FROM (SELECT * FROM "All Continents") AS t1 '
                                      'JOIN (SELECT "Continent_id", COUNT("Country") AS "Countires_count" '
                                      'FROM "All Countries" G'
                                      'ROUP BY "Continent_id") AS t2 '
                                      'USING("Continent_id") '
                                      'ORDER BY "Countires_count" DESC')
print(countries_perContinent)

+---------------+-----------------+
|   Continent   | Countires_count |
+---------------+-----------------+
|     Africa    |        57       |
|      Asia     |        49       |
|     Europe    |        48       |
| North America |        39       |
| South America |        14       |
|    Oceania    |        6        |
+---------------+-----------------+

In [42]:
# The country with the highest "TotalCases" in each continent.
country_high_perContinent = db.sql_query('SELECT "Country","Continent","TotalCases" '
                                         'FROM (SELECT "Country","Continent","TotalCases" ,RANK() OVER(PARTITION BY "Continent" ORDER BY "TotalCases" DESC) AS "rank" '
                                                'FROM (SELECT "Country","Country_id","TotalCases" '
                                                       'FROM "All countries updated" ) AS t1  '
                                                       'JOIN (SELECT "Country_id", "Continent_id" FROM "All Countries") AS t2 '
                                                        'USING("Country_id") '
                                                        'JOIN (SELECT "Continent_id","Continent" FROM "All Continents") AS t3 '
                                                        'USING("Continent_id")) AS t4 '
                                         'WHERE "rank" =1;')
print(country_high_perContinent)

+--------------+---------------+------------+
|   Country    |   Continent   | TotalCases |
+--------------+---------------+------------+
| South Africa |     Africa    |   866127   |
|    India     |      Asia     |  9932842   |
|    Russia    |     Europe    |  2707945   |
|     USA      | North America |  17074294  |
|  Australia   |    Oceania    |   28045    |
|    Brazil    | South America |  6970034   |
+--------------+---------------+------------+

In [43]:
# Top 5 countries with active cases.
top5_countries_active = db.sql_query('SELECT "Country","ActiveCases" '
                                     'FROM "All countries updated" '
                                     'WHERE "ActiveCases" IS NOT NULL '
                                     'ORDER BY "ActiveCases" DESC LIMIT 5;')
print(top5_countries_active)

+------------------------+-------------+
|        Country         | ActiveCases |
+------------------------+-------------+
|          USA           |   6807127   |
|         France         |   2153288   |
|         Brazil         |    771150   |
|         Italy          |    667303   |
|        Belgium         |    549457   |
|         Russia         |    510367   |
|        Ukraine         |    370734   |
|        Germany         |    351526   |
|         India          |    333048   |
|         Poland         |    244389   |
|         Serbia         |    243279   |
|          Iran          |    237528   |
|         Turkey         |    220375   |
|         Mexico         |    213922   |
|        Hungary         |    195411   |
|       Argentina        |    122061   |
|         Greece         |    112598   |
|       Indonesia        |    93662    |
|        Bulgaria        |    90128    |
|        Romania         |    87010    |
|      South Africa      |    79930    |
|         Canada         |    76217    |
|        Colombia        |    73852    |
|      Switzerland       |    71067    |
|        Portugal        |    67805    |
|        Czechia         |    64710    |
|       Azerbaijan       |    62247    |
|       Bangladesh       |    60351    |
|        Honduras        |    59965    |
|       Lithuania        |    53924    |
|          Iraq          |    53110    |
|        Ireland         |    51278    |
|        Pakistan        |    48008    |
|        Lebanon         |    43447    |
|         Jordan         |    35342    |
|        Austria         |    35281    |
|        Morocco         |    33997    |
|        Slovakia        |    33969    |
|        Denmark         |    33027    |
|   Dominican Republic   |    32107    |
| Bosnia and Herzegovina |    31224    |
|       Costa Rica       |    31109    |
|        Algeria         |    29135    |
|          Peru          |    29070    |
|         Libya          |    28554    |
|        Georgia         |    28231    |
|         Panama         |    27903    |
|         Japan          |    25708    |
|        Paraguay        |    25010    |
|      Philippines       |    24160    |
|       Palestine        |    23419    |
|        Albania         |    23096    |
|        Tunisia         |    22484    |
|        Croatia         |    21861    |
|    North Macedonia     |    21711    |
|          UAE           |    21622    |
|        Belarus         |    21334    |
|        Slovenia        |    21115    |
|        Ethiopia        |    19422    |
|        Armenia         |    19139    |
|        Myanmar         |    18930    |
|         Israel         |    18832    |
|         Uganda         |    17938    |
|         Kenya          |    16876    |
|        Moldova         |    14717    |
|        Malaysia        |    14515    |
|       Kazakhstan       |    13802    |
|         Cyprus         |    13311    |
|        Bolivia         |    11882    |
|        S. Korea        |    11205    |
|         Chile          |    11190    |
|        Finland         |    10993    |
|    French Polynesia    |    10809    |
|        Ecuador         |    10509    |
|         Egypt          |    10011    |
|         Nepal          |     9881    |
|       Montenegro       |     9454    |
|      Afghanistan       |     9202    |
|       Sri Lanka        |     9100    |
|         Latvia         |     8638    |
|       Luxembourg       |     8346    |
|         Sudan          |     7784    |
|         Angola         |     6981    |
|        Estonia         |     6856    |
|       Guatemala        |     6813    |
|          Oman          |     6739    |
|         Norway         |     6442    |
|       Guadeloupe       |     6079    |
|        Nigeria         |     5863    |
|       Kyrgyzstan       |     5727    |
|       Martinique       |     5435    |
|         Belize         |     4766    |
|         Syria          |     4340    |
|       Venezuela        |     4128    |
|        Jamaica         |     3387    |
|        Uruguay         |     3341    |
|         Kuwait         |     3198    |
|      Saudi Arabia      |     3093    |
|          CAR           |     2949    |
|       Mauritania       |     2947    |
|      El Salvador       |     2660    |
|        Mayotte         |     2599    |
|        Botswana        |     2379    |
|         Qatar          |     2112    |
|       Uzbekistan       |     2107    |
|          Mali          |     1976    |
|        Curaçao         |     1873    |
|     French Guiana      |     1840    |
|       Mozambique       |     1781    |
|        Namibia         |     1768    |
|         Malta          |     1706    |
|        Zimbabwe        |     1613    |
|        Bahrain         |     1588    |
|       Nicaragua        |     1500    |
|          DRC           |     1466    |
|        Bahamas         |     1453    |
|       Australia        |     1451    |
|       Hong Kong        |     1254    |
|      Burkina Faso      |     1198    |
|         Congo          |     1112    |
|         Haiti          |     1074    |
|         Ghana          |     978     |
|         Niger          |     946     |
|        Somalia         |     929     |
|        Cameroon        |     920     |
|        Lesotho         |     865     |
|          Cuba          |     859     |
|    Channel Islands     |     767     |
|         Guyana         |     710     |
|         Rwanda         |     695     |
|         Guinea         |     664     |
|        Senegal         |     623     |
|        Andorra         |     597     |
|        Maldives        |     584     |
|  Trinidad and Tobago   |     582     |
|         Zambia         |     573     |
|        Mongolia        |     533     |
|      Sierra Leone      |     523     |
|       Tajikistan       |     477     |
|        Réunion         |     455     |
|          Togo          |     411     |
|       Madagascar       |     336     |
|         China          |     312     |
|      Ivory Coast       |     307     |
|        Tanzania        |     305     |
|        Eswatini        |     304     |
|       San Marino       |     245     |
|        Thailand        |     237     |
|        Liberia         |     235     |
|         Malawi         |     234     |
|       Cabo Verde       |     230     |
|        Bermuda         |     200     |
|     Liechtenstein      |     192     |
|        Eritrea         |     147     |
|        Iceland         |     142     |
|         Taiwan         |     124     |
|      Sint Maarten      |     124     |
|         Aruba          |     122     |
|        Vietnam         |     118     |
|    Papua New Guinea    |     116     |
|      Saint Martin      |     114     |
|      South Sudan       |     101     |
|         Yemen          |      94     |
|        Burundi         |      94     |
|         Gabon          |      84     |
|       Singapore        |      79     |
|         Benin          |      74     |
|         Monaco         |      63     |
|     Guinea-Bissau      |      63     |
|          Chad          |      61     |
|        Djibouti        |      60     |
|       Gibraltar        |      58     |
|      New Zealand       |      56     |
|        Cambodia        |      50     |
|   Equatorial Guinea    |      49     |
| Sao Tome and Principe  |      41     |
|       St. Barth        |      34     |
|         Bhutan         |      34     |
|      Saint Lucia       |      34     |
|        Grenada         |      28     |
|       Mauritius        |      25     |
|     Faeroe Islands     |      24     |
|     Cayman Islands     |      23     |
|    Turks and Caicos    |      22     |
| St. Vincent Grenadines |      17     |
|        Barbados        |      17     |
|        Suriname        |      15     |
|        Comoros         |      15     |
|    Solomon Islands     |      12     |
|      Vatican City      |      12     |
|         Gambia         |      12     |
|          Laos          |      7      |
| Caribbean Netherlands  |      7      |
|        Anguilla        |      6      |
|          Fiji          |      6      |
|  Antigua and Barbuda   |      5      |
|        Dominica        |      5      |
|       Seychelles       |      5      |
| Saint Kitts and Nevis  |      5      |
|      Isle of Man       |      4      |
| British Virgin Islands |      3      |
|         Brunei         |      2      |
|   Wallis and Futuna    |      2      |
|      Timor-Leste       |      1      |
|     Western Sahara     |      1      |
|       Greenland        |      1      |
|     New Caledonia      |      1      |
|    Marshall Islands    |      0      |
|         Samoa          |      0      |
|        Vanuatu         |      0      |
|         Macao          |      0      |
|    Falkland Islands    |      0      |
| Saint Pierre Miquelon  |      0      |
|       Montserrat       |      0      |
|    Diamond Princess    |      0      |
|       MS Zaandam       |      0      |
+------------------------+-------------+

In [44]:
# The date that israel had the highest value of new cases.
israel_newCases_date = db.sql_query('SELECT "scrap_date" AS "max_NewCases_date" '
                                    'FROM "Israel" '
                                    'WHERE "NewCases" = (Select MAX("NewCases") '
                                    '                    FROM "Israel")')
print(israel_newCases_date)

+-------------------+
| max_NewCases_date |
+-------------------+
|     2020-09-27    |
+-------------------+

In [45]:
# Ranking each continent by its active cases.
continent_active_rank = db.sql_query('SELECT "Continent","ActiveCases", RANK() OVER(ORDER BY "ActiveCases" DESC) '
                                     'FROM "All continents updated" '
                                     'WHERE "Continent" <> \'World\'')
print(continent_active_rank)

+---------------+-------------+------+
|   Continent   | ActiveCases | rank |
+---------------+-------------+------+
|     Europe    |   10207947  |  1   |
| North America |   7285598   |  2   |
|      Asia     |   1480985   |  3   |
| South America |   1064758   |  4   |
|     Africa    |    312128   |  5   |
|    Oceania    |    12453    |  6   |
+---------------+-------------+------+

In [46]:
israel_minMax_dates = db.sql_query('SELECT MIN("scrap_date") as "Earliest Date",MAX("scrap_date") as "Latest Date" '
                                   'FROM "Israel"')
print(israel_minMax_dates)

+---------------+-------------+
| Earliest Date | Latest Date |
+---------------+-------------+
|   2020-08-02  |  2020-12-15 |
+---------------+-------------+